# Ethereum Configuration
INFURA_PROJECT_ID=
SENDER_ADDRESS=
PRIVATE_KEY=
RECEIVER_ADDRESS=

# Arbitrum RPC
ARBITRUM_RPC=
ARBITRUM_CHAIN_ID=

# Optimism RPC
OPTIMISM_RPC=
OPTIMISM_CHAIN_ID=

# DEX Contracts
UNISWAP_ADDRESS=
CURVE_ADDRESS=
USDC_ADDRESS=
USDT_ADDRESS=